<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{plantillas/plantilla :: head}"></head>
<body>
<header th:replace="~{plantillas/plantilla :: header}"></header>
<main class="container text-center shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <h1 th:text="${contenido}"></h1>
    <form method="post" th:action="@{/prestamo/guardar-prestamo}" th:object="${prestamo}">
        <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role="alert">
            Verifique los siguientes inconvenientes
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
            </ul>
        </div>
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="form-floating">
                    <input
                            type="date"
                            class="form-control"
                            id="fecha"
                            name="fecha"
                            th:value="${prestamo.fecha != null} ? ${#temporals.format(prestamo.fecha, 'yyyy-MM-dd')} : ''"
                            th:attr="name=${'fecha'}, id=${'fecha'}"
                            required>
                    <label for="fecha">Fecha:</label>
                </div>
                <div class="form-floating">
                    <select class="form-select" th:field="*{socio.id}">
                        <option value="">Seleccione un socio</option>
                        <option th:each="soc : ${socio}"
                                th:value="${soc.id}"
                                th:text="${soc.nombre}">
                        </option>
                    </select>
                    <label>Socio:</label>
                </div>
                <div class="form-floating">
                    <input
                            type="date"
                            class="form-control"
                            id="fProgDev"
                            name="fProgDev"
                            th:value="${prestamo.fProgDev != null} ? ${#temporals.format(prestamo.fProgDev, 'yyyy-MM-dd')} : ''"
                            th:attr="name=${'fProgDev'}, id=${'fProgDev'}"
                            required>
                    <label for="fecha">Fecha Programada de Devolución:</label>
                </div>
                <div class="form-floating">
                    <input th:class="${#fields.hasErrors('total')}? 'form-control is-invalid':form-control"
                           type="text" id="total" th:field="*{total}" placeholder="1.00">
                    <label for="total">Total:</label>
                </div>
            </div>
        </div>
        <div class="col-8">
            <br/>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
        <input type="hidden" th:field="*{id}"/>
    </form>
</main>
<footer th:replace="~{plantillas/plantilla :: footer}"></footer>
</body>
</html>